@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Davro GG - Deployed using GIT Local V2</h1>
    <p>Test för att Deploy till Azure App Service.</p>
</div>
